.w, .cart_head_wrap .cart_head, .cart_head2_wrap .cart_head2, .sug_wrap .sug, .wrap {
  width: 990px;
  margin: 0 auto;
}

.cart_head_wrap {
  color: #999;
  width: 100%;
  font-size: 12px;
  background-color: #e3e4e5;
  border: solid 1px #ddd;
}

.cart_head_wrap .cart_head {
  font-size: 12px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_head_wrap .cart_head .head_left {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 37px;
}

.cart_head_wrap .cart_head .head_left li:nth-child(2) {
  position: relative;
  margin-left: 10px;
}

.cart_head_wrap .cart_head .head_left li:nth-child(2) span {
  padding: 2px 0 3px 0;
  width: 75px;
  height: 31px;
  line-height: 31px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  z-index: 6;
}

.cart_head_wrap .cart_head .head_left li:nth-child(2):hover span {
  border-color: #ddd;
  border-bottom-color: #fff;
  background-color: #fff;
}

.cart_head_wrap .cart_head .head_left li:nth-child(2):hover .cart_area {
  display: block;
}

.cart_head_wrap .cart_head .head_left li:nth-child(2) .cart_area {
  height: 300px;
  display: none;
  top: 36px;
  left: 0;
  width: 240px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  position: absolute;
  border: 1px solid #ddd;
  line-height: 24px;
  z-index: 5;
}

.cart_head_wrap .cart_head .head_left i {
  display: inline-block;
  color: #333;
  padding-right: 3px;
}

.cart_head_wrap .cart_head .head_left .icon-zuobiao {
  transform: translateY(1px);
}

.cart_head_wrap .cart_head .head_right {
  height: 100%;
  align-items: center;
  display: flex;
}

.cart_head_wrap .cart_head .head_right .register {
  padding-left: 8px;
  color: red;
}

.cart_head_wrap .cart_head .head_right li {
  line-height: 31px;
}

.cart_head_wrap .cart_head .head_right li:nth-child(even) {
  padding: 0 8px;
}

.cart_head_wrap .cart_head .head_right li i {
  margin-left: 3px;
  vertical-align: middle;
}

.cart_head_wrap .cart_head .head_right li.my_jd {
  position: relative;
}

.cart_head_wrap .cart_head .head_right li.my_jd > span {
  height: 31px;
  line-height: 31px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  z-index: 6;
}

.cart_head_wrap .cart_head .head_right li.my_jd:hover > span {
  border-color: #ddd;
  border-bottom-color: #fff;
  background-color: #fff;
}

.cart_head_wrap .cart_head .head_right li.my_jd:hover > div {
  display: block;
}

.cart_head_wrap .cart_head .head_right li.my_jd > div {
  height: 100px;
  display: none;
  top: 31px;
  left: 0;
  width: 240px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  position: absolute;
  border: 1px solid #ddd;
  line-height: 24px;
  z-index: 5;
}

.cart_head_wrap .cart_head .head_right li.head_shop {
  position: relative;
}

.cart_head_wrap .cart_head .head_right li.head_shop > span {
  height: 31px;
  line-height: 31px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  z-index: 6;
}

.cart_head_wrap .cart_head .head_right li.head_shop:hover > span {
  border-color: #ddd;
  border-bottom-color: #fff;
  background-color: #fff;
}

.cart_head_wrap .cart_head .head_right li.head_shop:hover > div {
  display: block;
}

.cart_head_wrap .cart_head .head_right li.head_shop > div {
  height: 50px;
  display: none;
  top: 31px;
  left: 0;
  width: 240px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  position: absolute;
  border: 1px solid #ddd;
  line-height: 24px;
  z-index: 5;
}

.cart_head_wrap .cart_head .head_right li.head_service {
  position: relative;
}

.cart_head_wrap .cart_head .head_right li.head_service > span {
  height: 31px;
  line-height: 31px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  z-index: 6;
}

.cart_head_wrap .cart_head .head_right li.head_service:hover > span {
  border-color: #ddd;
  border-bottom-color: #fff;
  background-color: #fff;
}

.cart_head_wrap .cart_head .head_right li.head_service:hover > div {
  display: block;
}

.cart_head_wrap .cart_head .head_right li.head_service > div {
  height: 600px;
  display: none;
  top: 31px;
  left: -183px !important;
  left: 0;
  width: 240px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  position: absolute;
  border: 1px solid #ddd;
  line-height: 24px;
  z-index: 5;
}

.cart_head_wrap .cart_head .head_right li.head_nav {
  position: relative;
}

.cart_head_wrap .cart_head .head_right li.head_nav > span {
  height: 31px;
  line-height: 31px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  z-index: 6;
}

.cart_head_wrap .cart_head .head_right li.head_nav:hover > span {
  border-color: #ddd;
  border-bottom-color: #fff;
  background-color: #fff;
}

.cart_head_wrap .cart_head .head_right li.head_nav:hover > div {
  display: block;
}

.cart_head_wrap .cart_head .head_right li.head_nav > div {
  width: 990px !important;
  height: 200px;
  display: none;
  top: 31px;
  left: -858px !important;
  left: 0;
  width: 240px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  position: absolute;
  border: 1px solid #ddd;
  line-height: 24px;
  z-index: 5;
}

.cart_head2_wrap .cart_head2 {
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_head2_wrap .cart_head2 .head2_left b {
  position: relative;
  top: 10px;
}

.cart_head2_wrap .cart_head2 .head2_right {
  border: 2px solid #c91623;
  background-color: #c91623;
  height: 24px;
  display: flex;
}

.cart_head2_wrap .cart_head2 .head2_right input {
  margin-top: 0;
  width: 260px;
  border: none;
  outline: none;
}

.cart_head2_wrap .cart_head2 .head2_right button {
  border: none;
  outline: none;
  display: block;
  background-color: #c91623;
  color: #fff;
  width: 48px;
  height: 24px;
  font-weight: bold;
}

.container {
  width: 990px;
  margin: 0 auto;
  margin-top: 50px;
}

.container > .title,
.shop > p {
  display: flex;
  align-items: center;
  height: 38px;
  font-size: 14px;
}

.shop b {
  display: inline-block;
  width: 80px;
  height: 24px;
  background: url(../img/cart-coupo.png) no-repeat 0 0;
  margin: 0 auto;
}

.title ul {
  float: right;
}

.title {
  background-color: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: none;
}

.nav {
  display: flex;
  margin-left: 367px;
  text-align: center;
}

.nav li {
  width: 95px;
}

.nav li:last-child {
  margin-left: 10px;
}

.goods_info {
  margin-left: 80px;
}

span {
  margin-left: 10px;
}

input {
  margin-top: 5px;
}

.allbtn {
  margin-right: 10px;
}

.content:nth-of-type(1) {
  border-top: 2px solid #aaa;
}

.content {
  height: 129px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-top: none;
  display: flex;
}

.img_info {
  height: 80px;
  margin-left: 10px;
  display: flex;
  margin-top: 0;
}

.content input {
  margin-top: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.info_text {
  width: 226px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 0;
  font-size: 12px;
}

.size {
  width: 212px;
  height: 100%;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  margin-right: 40px;
}

.size p {
  margin-bottom: 5px;
}

.price {
  width: 130px;
  height: 100%;
  text-align: center;
  font-size: 12px;
}

.price .p_img {
  display: inline-block;
  width: 40px;
  border: 1px solid #f9d2d3;
  color: #e2231a;
  height: 18px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  background-color: #fff;
  line-height: 17px;
  text-align: left;
  margin-top: 5px;
}

.price del {
  width: 100%;
  color: #ccc;
}

.num {
  width: 130px;
  height: 100%;
  text-align: center;
}

.num span {
  display: block;
  width: 17px;
  height: 23px;
  border: 1px solid #e5e5e5;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 23px;
}

.num .numipt {
  width: 39px;
  height: 15px;
  border: 1px solid #aaa;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
}

.num_con {
  height: 23px;
  display: flex;
  justify-content: center;
}

.num_con .plus {
  margin-left: 0;
}

.money {
  width: 130px;
  height: 100%;
  font-size: 12px;
  color: #f40;
  justify-content: center;
  display: flex;
}

.money h2 {
  font-size: 12px;
  color: #f40;
}

.more p {
  text-align: center;
  width: 130px;
  font-size: 12px;
  margin-bottom: 5px;
}

.sum {
  width: 990px;
  background-color: #e5e5e5;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.sum .sum_left {
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  padding: 16px 0 16px 9px;
}

.sum .sum_left span {
  color: #333;
  display: inline-block;
  padding: 3px;
  vertical-align: top;
}

.sum .sum_left span:nth-of-type(4) {
  color: #666;
  font-weight: 700;
}

.sum_right {
  font-size: 12px;
  width: 335px;
  display: flex;
}

.amount-num {
  width: 105px;
  display: inline-block;
  height: 44px;
  line-height: 20px;
  margin: 3px 0 0;
  cursor: pointer;
  color: #999;
  letter-spacing: 1px;
}

.amount-num span {
  color: #e2231a;
  font-weight: 700;
}

.amount-price {
  margin: 1px 0;
  text-align: center;
  width: 124px;
  margin-left: 10px;
  color: #999;
}

.amount-price em {
  display: inline-block;
  color: #e2231a;
  width: 70px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}

.pay {
  width: 94px;
  background-color: #e2231a;
  color: #fff;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 52px;
  margin-left: 5px;
}

.danjia {
  margin-left: 0;
}

.delete {
  cursor: pointer;
}

.sug_wrap {
  margin-bottom: 20px;
}

.sug_wrap .sug {
  position: relative;
  height: 359px;
}

.sug_wrap .sug .top {
  height: 23px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sug_wrap .sug .top .left span {
  color: #666;
  font-size: 14px;
  margin-right: 35px;
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
  display: inline-block;
}

.sug_wrap .sug .top .left span:nth-child(1) {
  color: #E2231A;
  font-weight: 700;
  border-color: #E2231A;
}

.sug_wrap .sug .top .r1, .sug_wrap .sug .top .r2 {
  position: absolute;
  right: 0;
}

.sug_wrap .sug .top .r1 li, .sug_wrap .sug .top .r2 li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 0px;
  overflow: hidden;
  background: #aaa;
  vertical-align: middle;
  border-radius: 4px;
}

.sug_wrap .sug .top .r1 li:nth-child(1), .sug_wrap .sug .top .r2 li:nth-child(1) {
  width: 26px;
  background: #e4393c;
}

.sug_wrap .sug .top .r2 {
  display: none;
}

.sug_wrap .sug .left1_content, .sug_wrap .sug .left2_content {
  position: absolute;
  width: 100%;
  display: none;
}

.sug_wrap .sug .left1_content .sug_content, .sug_wrap .sug .left2_content .sug_content {
  width: 100%;
  height: 326px;
  display: none;
  position: absolute;
}

.sug_wrap .sug .left1_content .sug_content li, .sug_wrap .sug .left2_content .sug_content li {
  float: left;
  width: 206px;
  padding: 20px;
  background: #fff;
  margin: -1px 0 0 -1px;
  border: 1px dashed #cacaca;
  text-align: center;
  font-size: 12px;
}

.sug_wrap .sug .left1_content .sug_content li img, .sug_wrap .sug .left2_content .sug_content li img {
  width: 160px;
}

.sug_wrap .sug .left1_content .sug_content li p:nth-of-type(1), .sug_wrap .sug .left2_content .sug_content li p:nth-of-type(1) {
  color: #333;
  height: 36px;
  line-height: 18px;
  margin: 5px 0;
  overflow: hidden;
}

.sug_wrap .sug .left1_content .sug_content li p:nth-of-type(2), .sug_wrap .sug .left2_content .sug_content li p:nth-of-type(2) {
  margin: 5px 0 2px;
  font-size: 14px;
  color: #d91f20;
  font-weight: 400;
}

.sug_wrap .sug .left1_content .sug_content li a, .sug_wrap .sug .left2_content .sug_content li a {
  margin: 10px 0 0;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #999;
  color: #666;
  text-align: center;
  border-radius: 3px;
}

.sug_wrap .sug .left1_content .sug_content li a i, .sug_wrap .sug .left2_content .sug_content li a i {
  margin-right: 5px;
}

.sug_wrap .sug .left1_content .sug_content li a:hover, .sug_wrap .sug .left2_content .sug_content li a:hover {
  border-color: #E2231A;
  background: #E2231A;
  color: #fff;
}

.sug_wrap .sug .left1_content {
  display: block;
}

.sug_wrap .sug .pre, .sug_wrap .sug .next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 70px;
  background-color: #666;
  opacity: 0.5;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
}

.sug_wrap .sug .pre {
  left: 19px;
}

.sug_wrap .sug .next {
  right: -18px;
}

footer {
  border-top: 1px solid #ddd;
  font-size: 12px;
  color: #666;
  background: #eaeaea;
}

.foot-service {
  width: 100%;
  padding: 30px 0 30px 0;
  font-size: 18px;
  color: #444;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
}

.foot-service b {
  font-weight: 700;
}

.foot-service li {
  height: 42px;
  line-height: 42px;
}

.foot-service li:nth-child(2) span {
  background-position: 0 -43px;
}

.foot-service li:nth-child(3) span {
  background-position: 0 -86px;
}

.foot-service li:nth-child(4) span {
  background-position: 0 -129px;
}

.foot-service b {
  vertical-align: top;
}

.foot-service span {
  display: inline-block;
  width: 36px;
  height: 42px;
  background: url(../img/footer_service.png) no-repeat;
}

footer .foot-item {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  margin-bottom: 10px;
  padding-top: 10px;
}

.foot-item ul li:first-child {
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
}

.foot-item ul li:first-child:hover {
  color: #666;
}

.foot-item li {
  font-size: 12px;
  line-height: 20px;
}

footer li:hover {
  color: red;
}

.foot-item h5 {
  font-size: 14px;
  line-height: 28px;
}

.foot-item p {
  width: 180px;
  margin-top: 20px;
}

.foot-item span {
  display: block;
  width: 180px;
  text-align: right;
}

.foot-info {
  padding: 0 20px;
  margin-bottom: 10px;
}

.foot-info ul {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.foot-info ul span {
  margin: 0 5px;
}

.foot-list ul {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.foot-list {
  margin-top: 15px;
  color: #999;
  font-size: 12px;
  padding-bottom: 20px;
}

.foot-list ul span {
  margin: 0 5px;
}

.foot-list .foot-city i {
  font-style: normal;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: url("../img/foot-city.png") no-repeat -108px -155px;
}

.foot-list ul li {
  display: flex;
  align-items: center;
}

.foot-list ul li:nth-of-type(2) i {
  background-position: -168px -155px;
}

.foot-list ul li:nth-of-type(3) i {
  background-position: -148px -155px;
}

.foot-list ul li:nth-of-type(4) i {
  background-position: -128px -155px;
}

.foot-list ul li:nth-of-type(5) i {
  background-position: -108px -172px;
}

.foot-list .foot-bottom {
  margin-top: 30px;
}

.foot-list .foot-bottom li {
  width: 103px;
  height: 32px;
  margin: 0 3px;
  background: url("../img/foot-city.png") no-repeat -205px -111px;
}

.foot-bottom li:nth-of-type(2) {
  background-position: -205px -74px;
}

.foot-bottom li:nth-of-type(3) {
  background-position: -205px -37px;
}

.foot-bottom li:nth-of-type(4) {
  background: url("../img/foot-bottom.png") no-repeat;
  background-position: 0 -66px;
}

.foot-bottom li:nth-of-type(5) {
  background-position: 0 -155px;
}

.foot-bottom li:nth-of-type(6) {
  background: url("../img/foot-bottom.png") no-repeat;
  background-position: 0 -99px;
}

.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  width: 35px;
  margin-top: -61px;
  text-align: center;
}

.fixed li {
  font-size: 12px;
  position: relative;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
}

.fixed li:nth-of-type(1) {
  color: #fff;
  letter-spacing: 1px;
  background-color: #c91423;
}

.fixed li:nth-of-type(2) {
  position: relative;
}

.fixed li:nth-of-type(2):hover {
  background-color: #c91423;
}

.fixed li:nth-of-type(2):hover .focus {
  background-color: #c91423;
}

.fixed li:nth-of-type(2) i {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: 3px;
  background: url(../img/fixed_spirt.png) 0 -2px no-repeat;
}

.fixed li:nth-of-type(2) .focus {
  top: 0;
  left: 59px;
  position: absolute;
  background-color: #7a6e6e;
  width: 60px;
  height: 35px;
  border-radius: 3px 0 0 3px;
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}

.fixed li:nth-of-type(3) {
  position: relative;
}

.fixed li:nth-of-type(3):hover {
  background-color: #c91423;
}

.fixed li:nth-of-type(3):hover .jd_cart {
  background-color: #c91423;
}

.fixed li:nth-of-type(3) i {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: 4px;
  background: url(../img/fixed_spirt2.png) no-repeat;
}

.fixed li:nth-of-type(3) .jd_cart {
  top: 0;
  left: 59px;
  position: absolute;
  background-color: #7a6e6e;
  width: 60px;
  height: 35px;
  border-radius: 3px 0 0 3px;
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
