<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品牌闪购</title>
    <link rel="stylesheet" href="../css/BrandFlashSales.css">
    <link rel="stylesheet" href="../css/public/公共头部.css">
    <link rel="stylesheet" href="../css/public/公共尾部.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2130446_sd0bbfrsyac.css">
</head>

<body>
    {{include 'comon/header.html'}}
    <div class="ppsg-header ">
        <div class="nr ppsg-wrap ">
            <div class="ppsg-logo">
                <img src="../img/ppsg-logo.png" alt="">
            </div>
            <div class="right">
                <ul>
                    <li>
                        <p class="active qidong">今日上新</p>
                    </li>
                    <li>
                        <p>服饰内衣</p>
                    </li>
                    <li>
                        <p>家居日用</p>
                    </li>
                    <li>
                        <p>3C数码</p>
                    </li>
                    <li>
                        <p>母婴童装</p>
                    </li>
                </ul>
                <div class="gengduo">
                    <div class="gd-nr">更多</div>
                    <div class="gd-none">
                        <ul>
                            <li>
                                <p>家用电器</p>
                            </li>
                            <li>
                                <p>食品酒水</p>
                            </li>
                            <li>
                                <p>鞋靴箱包</p>
                            </li>
                            <li>
                                <p>医药保健</p>
                            </li>
                            <li>
                                <p>运动户外</p>
                            </li>
                            <li>
                                <p>钟表奢品</p>
                            </li>
                            <li>
                                <p>珠宝配饰</p>
                            </li>
                            <li>
                                <p>优选家具</p>
                            </li>
                            <li>
                                <p>美妆个护</p>
                            </li>
                            <li>
                                <p>品牌预告</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="gouwuche">
                <p class="guc-nr">我的购物车</p>
                <span>

                </span>
            </div>
        </div>
    </div>
    <div class="ppsg-content-1">
        <div class="ppsg-banner">
            <div class="banner">
                <img src="../img/ppsg-banner.webp" alt="">
            </div>
        </div>
        <p class="heng-g"></p>
        <div class="ppsg-jrsx">
            <div class="ppsg-wrap">
                <div class="title">
                    <div class="text">
                        <span class="sd"></span>
                        今日上新
                        <span>上新最佳 手快有</span>
                    </div>
                </div>
                <div class="ppsg-sp">
                    <div class="left">
                        <div class="yushi">
                            <img src="../img/玉.webp" alt="">
                        </div>
                        <div class="youhui">
                            <div class="daojishi">
                                <span class="djs"></span>
                                仅剩
                                <span class="yushi-day">2</span>
                                天
                            </div>
                            <img src="../img/yu -zi.webp" alt="">
                            <p>千载一玉品牌闪购</p>
                            <p>每满599元减100</p>
                        </div>
                    </div>
                    <div class="right">
                        <ul>
                            <li>
                                <div class="list"> <img src="../img/shouzhuo.webp" alt="">
                                    <div class="r-text">
                                        <span>¥268</span>
                                        <del>¥368</del>
                                        <span>闪降100元</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list"> <img src="../img/shizi.webp" alt="">
                                    <div class="r-text">
                                        <span>¥268</span>
                                        <del>¥368</del>
                                        <span>闪降100元</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list">
                                    <img src="../img/shouzhuo2.webp" alt="">
                                    <div class="r-text">
                                        <span>¥268</span>
                                        <del>¥368</del>
                                        <span>闪降100元</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ppsg-sp">
                    <div class="left">
                        <div class="yushi">
                            <img src="../img/jianshen.webp" alt="">
                        </div>
                        <div class="youhui">
                            <div class="daojishi">
                                <span class="djs"></span>
                                仅剩
                                <span>2</span>
                                天
                            </div>
                            <img src="../img/jianshen-zi.webp" alt="">
                            <p>亿健秒杀专场</p>
                            <p>爆款下单立减600</p>
                        </div>
                    </div>
                    <div class="right">
                        <ul>
                            <li>
                                <div class="list"> <img src="../img/jianshen-1.webp" alt="">
                                    <div class="r-text">
                                        <span>¥1799</span>
                                        <del>¥2599</del>
                                        <span>闪降800元</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list"> <img src="../img/jianshen-2.webp" alt="">
                                    <div class="r-text">
                                        <span>¥1599</span>
                                        <del>¥1999</del>
                                        <span>闪降400元</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list">
                                    <img src="../img/jianshen-3.webp" alt="">
                                    <div class="r-text">
                                        <span>¥1799</span>
                                        <del>¥2999</del>
                                        <span>闪降1200元</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="ppsg-wrap">
                <div class="title-bottom">
                    <div class="text">
                        <span class="sd"></span>
                        活动特卖
                        <span>引领时尚 触底低价</span>
                    </div>
                </div>
                <div class="ppsg-sp-bottom">
                    <div class="left">
                        <div class="ikbc">
                            <img src="../img/ikbc.webp" alt="" class="ikbc-big">
                            <div class="ikbc-zi">
                                <div class="daojishi">
                                    <span class="djs"></span>
                                    仅剩
                                   <div class="js-djs">
                                       <span class="time hour">0</span>
                                       <span class="maohao">:</span>
                                       <span class="min time">00</span>
                                       <span class="maohao">:</span>
                                       <span class="sec time">0</span>
                                   </div>
                                </div>
                                <img src="../img/ikbc-zi.webp" alt="" class="ikbc-sm">
                                <p>机械键盘低至128元</p>
                            </div>
                        </div>
                        <div class="jianpan">
                            <ul>
                                <li>
                                    <img src="../img/shubiao-1.webp" alt="">
                                    <p>¥199</p>
                                </li>
                                <li>
                                   <img src="../img/shubiao-2.webp" alt="">
                                   <p>¥199</p>
                                </li>
                                <li>
                                    <img src="../img/jianpan-1.webp" alt="">
                                    <p>¥199</p>
                                </li>
                                <li>
                                    <img src="../img/jianpan-2.webp" alt="">
                                    <p>¥199</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left right">
                        <div class="ikbc">
                            <img src="../img/sanzhisongshu.webp" alt="" class="ikbc-big">
                            <div class="ikbc-zi">
                                <div class="daojishi">
                                    <span class="djs"></span>
                                    仅剩
                                   <div class="js-djs">
                                       <span class="time hour">0</span>
                                       <span class="maohao">:</span>
                                       <span class="min time">00</span>
                                       <span class="maohao">:</span>
                                       <span class="sec time">0</span>
                                   </div>
                                </div>
                                <img src="../img/sanzhisongshu-zi.webp" alt="" class="ikbc-sm">
                                <p>爆款零食4折起</p>
                            </div>
                        </div>
                        <div class="jianpan">
                            <ul>
                                <li>
                                    <img src="../img/szss-1.webp" alt="">
                                    <p>¥199</p>
                                </li>
                                <li>
                                   <img src="../img/szss-2.webp" alt="">
                                   <p>¥199</p>
                                </li>
                                <li>
                                    <img src="../img/szss-3.webp" alt="">
                                    <p>¥199</p>
                                </li>
                                <li>
                                    <img src="../img/szss-4.webp" alt="">
                                    <p>¥199</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    {{include 'comon/footer.html'}}
    <script src="../js/BrandFlashSales.js"></script>
</body>

</html>