<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>优惠券</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2130446_sd0bbfrsyac.css">
    <link rel="stylesheet" href="../css/coupon.css">
    <link rel="stylesheet" href="../css/public/公共头部.css">
</head>

<body>
    {{include 'comon/header.html'}}
    <div class="yhq-content1">
        <div class="yhq-wrap">
            <div class="logo">
                <a href="javascript:void(0)"></a>
                <h2>领券中心</h2>
            </div>
            <div class="search">
                <div class="form">
                    <div class="left">
                        <div class="yhqtext"> 优惠券
                            <i class="iconfont icon-xiajiantou"></i>
                        </div>
                        <div class="yhq-xianshi">
                            <p><a href="javascript:void(0)">优惠券 <b class="iconfont icon-changyongicon-"></b></a></p>
                            <p><a href="javascript:void(0)">商品 <b></b> </a></p>
                        </div>


                    </div>
                    <input type="text">
                    <button>搜索</button>
                </div>
            </div>

            <div class="right">
                <div class="myquan">
                    <i class="iconfont icon-youhuiquan"></i>
                    <span>我的优惠券</span>
                    <b class="iconfont icon-jiantou"></b>
                    <div class="qingdenglu">
                        <a href="javascript:void(0)">你好，请先登录</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="yhq-nav ">
        <div class="yhq-wrap">
            <ul>
                <li><a href="javascript:;">为你推荐</a></li>
                <li><a href="javascript:;" class="xian">母婴用品</a></li>
                <li><a href="javascript:;" class="xian">个户化妆</a></li>
                <li><a href="javascript:;" class="xian">手机</a></li>
                <li><a href="javascript:;" class="xian">家用电器</a></li>
                <li><a href="javascript:;" class="xian">食品饮料</a></li>
                <li><a href="javascript:;" class="xian">服饰穿戴</a></li>
                <li><a href="javascript:;" class="xian">电脑数码</a></li>
                <li><a href="javascript:;" class="xian">家居家纺</a></li>
                <li><a href="javascript:;" class="xian">运动户外</a></li>
                <li class="quanbufenlei">
                    <a href="javascript:;">全部分类</a>
                    <i class="iconfont icon-xiajiantou"></i>
                    <div class="qb-xianshi">
                        <a href="javascript:;">生活服务</a>
                        <a href="javascript:;">图书音像</a>
                        <a href="javascript:;">汽车用品</a>
                        <a href="javascript:;">鞋靴箱包</a>
                        <a href="javascript:;">家具建材</a>
                        <a href="javascript:;">生鲜</a>
                        <a href="javascript:;">京东健康</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="yhq-content2">
        <div class="yhq-top">
            <div class="yhq-wrap">
                <div class="yhq-banner">
                    <div class="banner-left">
                        <ul class="pic">
                            <li><img src="../img/yhq-bg-1.jpg" class="pic-xianshi" alt="javascript:void(0)"></li>
                            <li><img src="../img/yhq-bg-2.jpg" alt="javascript:void(0)"></li>
                        </ul>
                        <div class="yhq-fenyeqi">
                            <span class="fyq"></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="banner-right">
                        <div class="hquan">进来淘一张好券</div>
                        <div class="youhui">
                            <ul>
                                <li>
                                    <div class="jg">
                                        <em>¥</em>
                                        <strong>100</strong>
                                        <span>满500可用</span>
                                    </div>
                                    <div class="range">
                                        <p>仅可购买自营美的厨电部分商品</p>
                                    </div>
                                    <div class="jingdou">
                                        <span>10 京豆</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="jg">
                                        <em>¥</em>
                                        <strong>30</strong>
                                        <span>满99可用</span>
                                    </div>
                                    <div class="range">
                                        <p>仅可购买自营汇仁品牌指定商品</p>
                                    </div>
                                    <div class="jingdou">
                                        <span>10 京豆</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <a href="javascript:void(0)" class="qgg">去逛逛 ></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="tuijian">
            <div class="yhq-wrap">
                <div class="yhq-title">
                    <span></span>
                    <h3>为你推荐好券</h3>
                    <span></span>
                </div>
            </div>
            <div class="tuijian-cont">
                <ul class="yhq-tjq ">
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>200</strong>
                                <span>满599元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买帮宝适尿裤湿巾自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>200</strong>
                                <span>满599元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买帮宝适尿裤湿巾自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>200</strong>
                                <span>满599元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买帮宝适尿裤湿巾自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>200</strong>
                                <span>满599元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买帮宝适尿裤湿巾自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                    <li class="quan-item">
                        <div class="quan-item-right">
                            <img src="../img/tuijian-1.jpg" alt="javascript:void(0)">
                        </div>
                        <div class="quan-item-center">
                            <div class="q-price">
                                <em>¥</em>
                                <strong>100</strong>
                                <span>满199元可用</span>
                            </div>
                            <div class="q-range">
                                <span>仅可购买欧莱雅品牌部分自营商品</span>
                            </div>
                        </div>
                        <div class="q-circle">
                            <i class="i1">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                            <i class="i2">
                                <img src="../img/mid-circle.png" alt="javascript:void(0)">
                            </i>
                        </div>
                        <div class="q-opbtns">
                            <a href="javascript:void(0)">
                                <b></b>
                                <span class="mslq">立即领取</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="yhq-end yhq-wrap">
            <a href="javascript:void(0)">
                <i class="end-i1"></i>
                <span>点击查看下一个分类</span>
                <i class="end-i2"></i>
            </a>
        </div>

    </div>
    <div class="yhq-footer">
        <div class="yhq-wrap">
            <ul class="top">
                <li>
                    <i></i>
                    品类齐全，轻松购物
                </li>
                <li>
                    <i></i>
                    多仓直发，急速配送</li>
                <li>
                    <i></i>
                    正品行货，精致服务
                </li>
                <li>
                    <i></i>
                    天天低价，畅选无忧
                </li>
            </ul>
        </div>
        <div class="footer-nav">
            <div class="yhq-wrap">
                <div class="content">
                    <dl>
                        <dt>购物指南</dt>
                    <dd><a href="javascript:void(0)">购物流程</a></dd>
                    <dd><a href="javascript:void(0)">会员介绍</a></dd>
                    <dd><a href="javascript:void(0)">生活旅行/团购</a></dd>
                    <dd><a href="javascript:void(0)">常见问题</a></dd>
                    <dd><a href="javascript:void(0)">大家电</a></dd>
                    <dd><a href="javascript:void(0)">联系客服</a></dd>
                  
                    </dl>
                    <dl>
                        <dt>配送方式</dt>
                        <dd><a href="javascript:void(0)">上门自提</a></dd>
                        <dd><a href="javascript:void(0)">211限时达</a></dd>
                        <dd><a href="javascript:void(0)">配送时间查询</a></dd>
                        <dd><a href="javascript:void(0)">配送费收费标准</a></dd>
                        <dd><a href="javascript:void(0)">海外配送</a></dd>
                    </dl>
                    <dl>
                        <dt>支付方式</dt>
                        <dd><a href="javascript:void(0)">货到付款</a></dd>
                        <dd><a href="javascript:void(0)">在线支付</a></dd>
                        <dd><a href="javascript:void(0)">分期付款</a></dd>
                        <dd><a href="javascript:void(0)">公司转账</a></dd>
                    </dl>
                    <dl>
                        <dt>售后服务</dt>
                        <dd><a href="javascript:void(0)">售后政策</a></dd>
                        <dd><a href="javascript:void(0)">价格保护</a></dd>
                        <dd><a href="javascript:void(0)">退款说明</a></dd>
                        <dd><a href="javascript:void(0)">返修/退换货</a></dd>
                        <dd><a href="javascript:void(0)">取消订单</a></dd>
                    </dl>
                    <dl>
                        <dt>特色服务</dt>
                        <dd><a href="javascript:void(0)">夺宝岛</a></dd>
                        <dd><a href="javascript:void(0)">DIY装机</a></dd>
                        <dd><a href="javascript:void(0)">延保服务</a></dd>
                        <dd><a href="javascript:void(0)">京东E卡</a></dd>
                        <dd><a href="javascript:void(0)">京东通信</a></dd>
                        <dd><a href="javascript:void(0)">京鱼座智能</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="yhq-wrap">
                <div class="yhq-diyi">
                    <p>
                   <a href="javascript:void(0)">关于我们</a>
                    <span>|</span>
                    <a href="javascript:void(0)">联系我们</a>
                    <span>|</span>
                    <a href="javascript:void(0)">联系客服</a>
                    <span>|</span>
                    <a href="javascript:void(0)">合作招商</a>
                    <span>|</span>
                    <a href="javascript:void(0)">商家帮助</a>
                    <span>|</span>
                    <a href="javascript:void(0)">营销中心</a>
                    <span>|</span>
                    <a href="javascript:void(0)">手机京东</a>
                    <span>|</span>
                    <a href="javascript:void(0)">友情链接</a>
                    <span>|</span>
                    <a href="javascript:void(0)">销售联盟</a>
                    <span>|</span>
                    <a href="javascript:void(0)">京东社区</a>
                    <span>|</span>
                    <a href="javascript:void(0)">风险监测</a>
                    <span>|</span>
                    <a href="javascript:void(0)">隐私政策</a>
                    <span>|</span>
                    <a href="javascript:void(0)">京东公益</a>
                    <span>|</span>
                    <a href="javascript:void(0)">English Site</a>
                    <span>|</span>
                    <a href="javascript:void(0)">Media & IR</a>
                </p>
                </div>
                <div class="yhq-dier">
                    <p>
                        <a href="javascript:void(0)">京公网安备 11000002000088号</a><span class="shuxian">|</span><span>京ICP证070359号</span>
                        <span class="shuxian">|</span><a href="javascript:void(0)">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="shuxian">|</span>
                        <span >新出发京零 字第大120007号</span>
                    </p>
                    <p>
                        <span>
                            互联网出版许可证编号新出网证(京)字150号
                        </span>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">出版物经营许可证</a>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">网络文化经营许可证京网文[2014]2148-348号</a>
                        <span class="shuxian">|</span>
                        <span>违法和不良信息举报电话：4006561155</span>
                    </p>
                    <p>
                        <span>
                            Copyright © 2004 - <em>2020</em>  京东JD.com 版权所有
                        </span>
                        <span class="shuxian">|</span>
                        <span>消费者维权热线：4006067733</span>
                        <a href="javascript:void(0)">经营证照</a>
                        <span class="shuxian">|</span>
                        <span>(京)网械平台备字(2018)第00003号</span>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">营业执照</a>
                    </p>
                    <p>
                        <a href="javascript:void(0)">
                            <i></i>
                            Global Site
                        </a>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">
                            <i></i>
                            Сайт России
                        </a>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">
                            <i></i>
                            Situs Indonesia
                        </a>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">
                            <i></i>
                            Sitio de España
                        </a>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">
                            <i></i>
                            เว็บไซต์ประเทศไทย
                        </a>
                    </p>
                    <p>
                        <span>
                            京东旗下网站：
                        </span>
                        <a href="javascript:void(0)">京东钱包</a>
                        <span class="shuxian">|</span>
                        <a href="javascript:void(0)">京东智联云</a>
                    </p>
                </div>
                <div class="yhq-disan">
                    <p>
                        <a href="javascript:void(0)"></a>
                        <a href="javascript:void(0)"></a>
                        <a href="javascript:void(0)"></a>
                        <a href="javascript:void(0)"></a>
                        <a href="javascript:void(0)"></a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="cebianlan">
        <ul>
            <li class="li-wdq">
                <a href="javascript:;" class="wodequan">
                    
                </a>
            </li>
            <li>
                <a href="javascript:;" class="a-txt">任务</a>
            </li>
            <li class="li-fhdb">
                <a href="javascript:;" class="fanhuidingbu"></a>
            </li>
            <li class="li-lq">
                <a href="javascript:;" class="lingquan"></a>
                <div class="erweima">
                    <div class="tp">
                        <img src="../img/lq-erweima.png" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="../js/coupon.js"></script>
</body>

</html>