<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/finance.css">
</head>

<body>
    <div data-v-2a46279a="" class="index-page">
        <div data-v-2a46279a="" class="video-wrap"><img data-v-2a46279a="" id="videoImg"
                src="https://img30.360buyimg.com/jr_image/jfs/t1/131084/4/10222/69736/5f629c8fEf3a4b3ff/fbbbfb06f2ca89f4.jpg"
                alt="" class="video-img"><video data-v-2a46279a="" id="videoDom" loop="loop" muted="muted"
                class="video-c" style="visibility: visible;" autoplay>
                <source data-v-2a46279a="" src="https://storage.360buyimg.com/fe-resource/pcHome/jr_video2.mp4"
                    type="video/mp4"></video></div>
        <div data-v-4461d818="" data-v-2a46279a="" class="comm-header">
            <div data-v-4461d818="" class="cheader-wrap grid-1200">
                <div data-v-4461d818="" class="cheader-content clearfix">
                    <div data-v-4461d818="" class="cheader-logo"><a data-v-4461d818="" href="//jr.jd.com/"><img
                                data-v-4461d818="" src="../img/jdjr-01.png" width="201" height="68"></a></div>
                    <div data-v-4461d818="" class="cheader-platform"><a data-v-4461d818=""
                            href="//creator.jr.jd.com/#/login" target="_blank"
                            clstag="jr|keycount|jr_index|creator"><span data-v-4461d818="">创作者服务平台</span><span
                                data-v-4461d818="" class="cheader-cut">|</span></a><a data-v-4461d818=""
                            href="//finshop.jd.com" target="_blank" clstag="jr|keycount|jr_index|Financialstore"><span
                                data-v-4461d818="">金融小店服务平台</span></a><span data-v-4461d818=""
                            class="video-icon"></span></div>
                </div>
            </div>
        </div>
        <div data-v-2a46279a="" class="content-wrap grid-1200">
            <div data-v-2a46279a="" class="c-desc1"><img data-v-2a46279a="" src="../img/jdjr-02.png" alt=""></div>
            <div data-v-2a46279a="" class="c-desc2">
                <p data-v-2a46279a="">理财 、借贷、买保险 先上京东金融</p>
                <p data-v-2a46279a="">四亿用户的选择</p>
            </div>
            <div data-v-2a46279a="" class="c-qrcode"><img data-v-2a46279a="" src="../img/jdjr-03.png" alt=""></div>
            <div data-v-2a46279a="" class="c-btns"><a data-v-2a46279a=""
                    href="https://apps.apple.com/cn/app/id895682747" target="_blank"
                    clstag="jr|keycount|jr_index|iosdownload" class="c-btn"><img data-v-2a46279a=""
                        src="../img/jdjr-04.png" alt=""></a><a data-v-2a46279a=""
                    href="https://download.jr.jd.com/downapp/jrapp_jr6438.apk"
                    clstag="jr|keycount|jr_index|androiddownload" class="c-btn"><img data-v-2a46279a=""
                        src="../img/jdjr-05.png" alt=""></a></div>
            <div data-v-2a46279a="" class="c-tip">官网升级中，了解更多请扫码下载京东金融</div>
        </div>
        <div data-v-c845c20e="" data-v-2a46279a="" class="comm-footer">
            <div data-v-c845c20e="" class="cfooter-wrap grid-1200">
                <div data-v-c845c20e="" class="cfooter-content">
                    <p data-v-c845c20e="" class="cfooter-link"><a data-v-c845c20e="" href="./#/info/ptxy"
                            target="_blank" clstag="jr|keycount|jr_index|agreement"> 平台协议 </a><span data-v-c845c20e=""
                            class="cfooter-cut">|</span><a data-v-c845c20e="" href="./#/info/yszc" target="_blank"
                            clstag="jr|keycount|jr_index|privacy"> 隐私政策 </a><span data-v-c845c20e=""
                            class="cfooter-cut">|</span><a data-v-c845c20e=""
                            href="https://m.jr.jd.com/spe/license/style/i/license2.png" target="_blank"
                            clstag="jr|keycount|jr_index|license">营业执照</a><span data-v-c845c20e=""
                            class="cfooter-cut">|</span><a data-v-c845c20e="" href="//jrhelp.jd.com" target="_blank"
                            clstag="jr|keycount|jr_index|faq">常见问题</a><span data-v-c845c20e=""
                            class="cfooter-cut">|</span><span data-v-c845c20e="">网站支持IPv6</span><span data-v-c845c20e=""
                            class="cfooter-cut">|</span><a data-v-c845c20e=""
                            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11030102010689"
                            target="_blank"><img data-v-c845c20e="" src="" width="16" height="16"><span
                                data-v-c845c20e="">京公网安备 11030102010689号</span></a></p>
                    <p data-v-c845c20e="" class="cfooter-cr">Copyright © 2020 京东数科版权所有<span data-v-c845c20e=""
                            class="cfooter-cut"></span>投资有风险，购买需谨慎</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>