<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Secondskill.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2130485_sazgp7hvpso.css">
    <link rel="stylesheet" href="../css/public/公共头部.css">
</head>

<body>
    {{include 'comon/header.html'}}
    <!-- logo -->
    <div class="sk_logo">
        <div class="sk_wrap">
            <div class="sk_content">
                <div class="sk_left">
                    <a href="javascript:;">
                        <img src="../img/sk_logo.png" alt="">
                    </a>
                    <div class="sk_txt">
                        <p>秒杀</p>
                        <div class="sk_categories">全部分类 <i class="iconfont icon-zhankai sk_xia"></i>
                            <div class="sk_hover">
                                <dt>家用电器</dt>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                                <dd>手机、运营商、数码</dd>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sk_middle">
                    <input type="text" placeholder="苹果笔记本电脑">
                    <button>搜索</button>
                    <div>
                        手机 电脑 鼠标 大家电 酒水
                    </div>
                </div>
                <div class="sk_right">
                    <div class="sk_mybuy ">
                        <a href="javascript:;">我的购物车</a>
                        <i class="iconfont icon-che-copy sk_buy"></i>
                        <i class="sk_yuan"></i>
                    </div>
                    <div class="sk_buy_mini ">
                        <i class="iconfont icon-konggouwuche sk_kong"></i>
                        <span>购物车中还没有任何内容，赶紧添加吧</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 顶部导航栏 -->
    <div class="sk_navbar">
        <div class="sk_wrap">
            <div class="sk_left">
                <ul>
                    <li>
                        <a href="">京东秒杀</a>
                    </li>
                    <li>
                        <a href="">每日特价</a>
                    </li>
                    <li>
                        <a href="">大牌闪购</a>
                    </li>
                    <li>
                        <a href="">品牌秒杀</a>
                    </li>
                </ul>
            </div>
            <div class="sk_right">
                <div class="sk_categories">更多分类 <i class="iconfont icon-zhankai sk_xia"></i>
                    <div class="sk_more">
                        <ul>
                            <li>服饰内衣</li>
                            <li>运动户外</li>
                            <li>中外名酒</li>
                            <li>清洁用品</li>
                        </ul>
                        <ul>
                            <li>服饰内衣</li>
                            <li>运动户外</li>
                            <li>中外名酒</li>
                            <li>清洁用品</li>
                        </ul>
                        <ul>
                            <li>服饰内衣</li>
                            <li>运动户外</li>
                            <li>中外名酒</li>
                            <li>清洁用品</li>
                        </ul>
                        <ul>
                            <li>服饰内衣</li>
                            <li>运动户外</li>
                            <li>中外名酒</li>
                            <li>清洁用品</li>
                        </ul>
                        <ul>
                            <li>服饰内衣</li>
                            <li>运动户外</li>
                            <li>中外名酒</li>
                            <li>清洁用品</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 京东秒杀 -->
    <div class="sk_bg " style="background-color: #f6f6f6;">
        <div class="sk_wrap">
            <div class="sk_sk">

            </div>
            <div class="sk_cheap">
                什么是历史最低价
                <i class="iconfont icon-zhankai sk_xia"></i>
            </div>
            <div class="sk_cheapest">
                <img src="../img/sk_cheap.png" alt="">
                <ol>
                    <li>
                        <strong>最低价说明：</strong>
                        调取过去X天内此商品在北京区域的京东价（但不含拼购价、专享价、预售价、PLUS价），与当前商品秒杀价进行比较，当前秒杀价为此商品X天内的最低价格。
                    </li>
                    <li>
                        <strong>京东价：</strong>
                        京东价为商品的销售价。
                    </li>
                    <li>
                        <strong>秒杀价：</strong>
                        参与秒杀活动期间，该商品在京东秒杀频道的销售价格。如商品秒杀价存在区域价格，则指北京区域秒杀价。
                    </li>
                    <li>
                        <strong>价格说明：</strong>
                        最低价信息可能因系统故障或网络延迟等客观原因而出现异常，若最低价格信息出现异常，建议您与客服咨询或反馈。
                    </li>

                </ol>

            </div>

            <img src="../img/sk_ms.jpg" alt="">
        </div>
    </div>
    <!-- 内容 -->
    <section>
        <!-- 倒计时 -->
        <div class="sk_countdown">
            <div class="sk_wrap">
                <ul>
                    <li>
                        <a href="">
                            <div class="sk_text">
                                <div class="sk_left">
                                    <span>20:00</span>
                                </div>
                                <div class="sk_right">
                                    <p>正在秒杀</p>
                                    <span>
                                        距结束
                                        <i class="hour"></i> :
                                        <i class="min"></i> :
                                        <i class="sec"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="sk_text">
                                <div class="sk_left">
                                    <span>22:00</span>
                                </div>
                                <div class="sk_right">

                                    <span>即将开始</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="sk_text">
                                <div class="sk_left">
                                    <span>00:00</span>
                                </div>
                                <div class="sk_right">
                                    <span>即将开始</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="sk_text">
                                <div class="sk_left">
                                    <span>02:00</span>
                                </div>
                                <div class="sk_right">
                                    <span>即将开始</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="sk_text">
                                <div class="sk_left">
                                    <span>04:00</span>
                                </div>
                                <div class="sk_right">
                                    <span>即将开始</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 商品列表 -->
        <div class="sk_container">
            <ul>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
            </ul>
            <ol>
                <li>
                    <a href="" class="sk_bk"></a>
                    <img src="../img/sk_bk.jpg!cr_1180x360_10_0" alt="">
                    <a href="">立即抢购</a>
                    <div>
                        <dl>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <a href=""></a>
                    <img src="../img/sk_bk.jpg!cr_1180x360_10_0" alt="">
                    <a href="">立即抢购</a>
                    <div>
                        <dl>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ol>
            <ul>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../img/sk_cont_1.png" alt="">
                        <h4>【必抢爆款】瑞士I&W自动机械表</h4>
                        <p>进口机芯走时精准</p>
                    </a>
                    <div>
                        <span>184天历史最低价</span>
                        <span> ￥898</span><del>￥2988</del>
                        <span>已售27%<i><b></b></i></span>
                        <a href="">立即抢购</a>
                    </div>
                </li>
            </ul>
            <ol>
                <li>
                    <a href="" class="sk_bk"></a>
                    <img src="../img/sk_bk.jpg!cr_1180x360_10_0" alt="">
                    <a href="">立即抢购</a>
                    <div>
                        <dl>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <a href=""></a>
                    <img src="../img/sk_bk.jpg!cr_1180x360_10_0" alt="">
                    <a href="">立即抢购</a>
                    <div>
                        <dl>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                            <dd>
                                <img src="../img/sk_bk_1.jpg" alt="">
                                <p>贡苑 茶叶花草茶 低温脱水罗汉果茶 (精选大果12个)滋润广西桂林特产250g</p>
                                <span class="sk_alret"> ￥898</span><del>￥2988</del>
                                <span class="sk_selt">已售27%<i><b></b></i></span>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ol>
        </div>
    </section>
    <!-- 页面底部-->
    <footer>

        <div class="service">
            <div class="wrap">
                <ul>
                    <li>
                        <h5>多</h5>
                        <p>品类齐全，轻松购物</p>
                    </li>
                    <li>
                        <h5>快</h5>
                        <p>多仓直发，极速配送</p>
                    </li>
                    <li>
                        <h5>好</h5>
                        <p>正品行货，精致服务</p>
                    </li>
                    <li>
                        <h5>省</h5>
                        <p>天天低价，畅选无忧</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrap help">
            <div class="fl">
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">会员介绍</a></dd>
                    <dd><a href="#">生活旅行</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">大家电</a></dd>
                    <dd><a href="#">联系客服</a></dd>
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd><a href="#">上门自提</a></dd>
                    <dd><a href="#">211限时达</a></dd>
                    <dd><a href="#">配送服务查询</a></dd>
                    <dd><a href="#">配送费收取标准</a></dd>
                    <dd><a href="#">海外配送</a></dd>
                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="#">货到付款</a></dd>
                    <dd><a href="#">在线支付</a></dd>
                    <dd><a href="#">分期付款</a></dd>
                    <dd><a href="#">邮局汇款</a></dd>
                    <dd><a href="#">公司转账</a></dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href="#">售后政策</a></dd>
                    <dd><a href="#">价格保护</a></dd>
                    <dd><a href="#">退款说明</a></dd>
                    <dd><a href="#">返修/退换货</a></dd>
                    <dd><a href="#">取消订单</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#">夺宝岛</a></dd>
                    <dd><a href="#">DIY装机</a></dd>
                    <dd><a href="#">延保服务</a></dd>
                    <dd><a href="#">京东E卡</a></dd>
                    <dd><a href="#">京东通信</a></dd>
                    <dd><a href="#">京东JD+</a></dd>
                </dl>
            </div>
            <div class="fr coverage">
                <h5>京东自营覆盖区县</h5>
                <p>京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
                <a href="#">查看详情></a>
            </div>
        </div>
        <!-- 底部版权模块 -->
        <div class="wrap copyright">
            <p>
                <a href="#">关于我们</a>
                <span> | </span>
                <a href="#">联系我们</a>
                <span> | </span>
                <a href="#">联系客服</a>
                <span> | </span>
                <a href="#">合作招商</a>
                <span> | </span>
                <a href="#">商家帮助</a>
                <span> | </span>
                <a href="#">营销中心</a>
                <span> | </span>
                <a href="#">手机京东</a>
                <span> | </span>
                <a href="#">友情链接</a>
                <span> | </span>
                <a href="#">销售联盟</a>
                <span> | </span>
                <a href="#">京东社区</a>
                <span> | </span>
                <a href="#">风险监测</a>
                <span> | </span>
                <a href="#">京东公益</a>
                <span> | </span>
                <a href="#">English Site</a>
                <span> | </span>
                <a href="#">Media & IR</a>
            </p>
            <div class="register">
                <p><a href="#">京公网安备 11000002000088号</a><span> | </span>
                    京ICP证070359号<span> | </span>
                    <a href="#">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span> | </span>
                    新出发京零 字第大120007号
                </p>
                <p>互联网出版许可证编号新出网证(京)字150号<span> | </span><a href="#">出版物经营许可证</a><span> |
                    </span>网络文化经营许可证京网文[2014]2148-348号<span> | </span>违法和不良信息举报电话：4006561155
                </p>
                <p>Copyright © 2004 - 2018 京东JD.com 版权所有<span> | </span>
                    消费者维权热线：4006067733 &nbsp;&nbsp;<a href="#">经营证照</a><span> | </span>
                    (京)网械平台备字(2018)第00003号
                </p>
                <p><a href="#"><i class="Global"></i>Global Site</a><span> | </span>
                    <a href="#"><i class="Ca"></i>Сайт России</a><span> | </span>
                    <a href="#"><i class="Situs"></i>Situs Indonesia</a><span> | </span>
                    <a href="#"><i class="Sitio"></i>Sitio de España</a><span> | </span>
                    <a href="#"><i class="Thailand"></i>เว็บไซต์ประเทศไทย</a>
                </p>
                <p>京东旗下网站：<a href="#">京东钱包</a><span> | </span><a href="#">京东云</a></p>
            </div>
            <p class="foot-icon">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </p>
        </div>
    </footer>

    <script src="../js/Secondskill.js"></script>
    <script>
   
    </script>
</body>

</html>