<div class="yhq-footer">
    <div class="ppsg-wrap">
        <ul class="top">
            <li>
                <i></i>
                品类齐全，轻松购物
            </li>
            <li>
                <i></i>
                多仓直发，急速配送</li>
            <li>
                <i></i>
                正品行货，精致服务
            </li>
            <li>
                <i></i>
                天天低价，畅选无忧
            </li>
        </ul>
    </div>
    <div class="footer-nav">
        <div class="ppsg-wrap">
            <div class="content">
                <dl>
                    <dt>购物指南</dt>
                <dd><a href="javascript:void(0)">购物流程</a></dd>
                <dd><a href="javascript:void(0)">会员介绍</a></dd>
                <dd><a href="javascript:void(0)">生活旅行/团购</a></dd>
                <dd><a href="javascript:void(0)">常见问题</a></dd>
                <dd><a href="javascript:void(0)">大家电</a></dd>
                <dd><a href="javascript:void(0)">联系客服</a></dd>
              
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd><a href="javascript:void(0)">上门自提</a></dd>
                    <dd><a href="javascript:void(0)">211限时达</a></dd>
                    <dd><a href="javascript:void(0)">配送时间查询</a></dd>
                    <dd><a href="javascript:void(0)">配送费收费标准</a></dd>
                    <dd><a href="javascript:void(0)">海外配送</a></dd>
                </dl>
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="javascript:void(0)">货到付款</a></dd>
                    <dd><a href="javascript:void(0)">在线支付</a></dd>
                    <dd><a href="javascript:void(0)">分期付款</a></dd>
                    <dd><a href="javascript:void(0)">公司转账</a></dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href="javascript:void(0)">售后政策</a></dd>
                    <dd><a href="javascript:void(0)">价格保护</a></dd>
                    <dd><a href="javascript:void(0)">退款说明</a></dd>
                    <dd><a href="javascript:void(0)">返修/退换货</a></dd>
                    <dd><a href="javascript:void(0)">取消订单</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="javascript:void(0)">夺宝岛</a></dd>
                    <dd><a href="javascript:void(0)">DIY装机</a></dd>
                    <dd><a href="javascript:void(0)">延保服务</a></dd>
                    <dd><a href="javascript:void(0)">京东E卡</a></dd>
                    <dd><a href="javascript:void(0)">京东通信</a></dd>
                    <dd><a href="javascript:void(0)">京鱼座智能</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="ppsg-wrap">
            <div class="yhq-diyi">
                <p>
               <a href="javascript:void(0)">关于我们</a>
                <span>|</span>
                <a href="javascript:void(0)">联系我们</a>
                <span>|</span>
                <a href="javascript:void(0)">联系客服</a>
                <span>|</span>
                <a href="javascript:void(0)">合作招商</a>
                <span>|</span>
                <a href="javascript:void(0)">商家帮助</a>
                <span>|</span>
                <a href="javascript:void(0)">营销中心</a>
                <span>|</span>
                <a href="javascript:void(0)">手机京东</a>
                <span>|</span>
                <a href="javascript:void(0)">友情链接</a>
                <span>|</span>
                <a href="javascript:void(0)">销售联盟</a>
                <span>|</span>
                <a href="javascript:void(0)">京东社区</a>
                <span>|</span>
                <a href="javascript:void(0)">风险监测</a>
                <span>|</span>
                <a href="javascript:void(0)">隐私政策</a>
                <span>|</span>
                <a href="javascript:void(0)">京东公益</a>
                <span>|</span>
                <a href="javascript:void(0)">English Site</a>
                <span>|</span>
                <a href="javascript:void(0)">Media & IR</a>
            </p>
            </div>
            <div class="yhq-dier">
                <p>
                    <a href="javascript:void(0)">京公网安备 11000002000088号</a><span class="shuxian">|</span><span>京ICP证070359号</span>
                    <span class="shuxian">|</span><a href="javascript:void(0)">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="shuxian">|</span>
                    <span >新出发京零 字第大120007号</span>
                </p>
                <p>
                    <span>
                        互联网出版许可证编号新出网证(京)字150号
                    </span>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">出版物经营许可证</a>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">网络文化经营许可证京网文[2014]2148-348号</a>
                    <span class="shuxian">|</span>
                    <span>违法和不良信息举报电话：4006561155</span>
                </p>
                <p>
                    <span>
                        Copyright © 2004 - <em>2020</em>  京东JD.com 版权所有
                    </span>
                    <span class="shuxian">|</span>
                    <span>消费者维权热线：4006067733</span>
                    <a href="javascript:void(0)">经营证照</a>
                    <span class="shuxian">|</span>
                    <span>(京)网械平台备字(2018)第00003号</span>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">营业执照</a>
                </p>
                <p>
                    <a href="javascript:void(0)">
                        <i></i>
                        Global Site
                    </a>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">
                        <i></i>
                        Сайт России
                    </a>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">
                        <i></i>
                        Situs Indonesia
                    </a>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">
                        <i></i>
                        Sitio de España
                    </a>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">
                        <i></i>
                        เว็บไซต์ประเทศไทย
                    </a>
                </p>
                <p>
                    <span>
                        京东旗下网站：
                    </span>
                    <a href="javascript:void(0)">京东钱包</a>
                    <span class="shuxian">|</span>
                    <a href="javascript:void(0)">京东智联云</a>
                </p>
            </div>
            <div class="yhq-disan">
                <p>
                    <a href="javascript:void(0)"></a>
                    <a href="javascript:void(0)"></a>
                    <a href="javascript:void(0)"></a>
                    <a href="javascript:void(0)"></a>
                    <a href="javascript:void(0)"></a>
                </p>
            </div>
        </div>
    </div>

</div>