<div class="ppsg-container">
    <header class="yhq">
        <div class="yhq-header ppsg-wrap">
            <ul class="yhq-fl">
                <li class="fore1">
                    <i class="iconfont icon-shouye"></i>
                    <a href="javascript:void(0)">京东首页</a>
                </li>
                <li class="fore2">
                    <div class="fore-2-a"><i class="iconfont icon-dingwei"></i>
                        <a href="javascript:void(0)" class="yhq-hn">河南</a></div>
                    <div class="hn-xianshi ">
                        <div class="shengfen">
                            <ul>
                                <li><a data-id="1" href="javascript:void(0)">北京</a></li>
                                <li><a data-id="1" href="javascript:void(0)">上海</a></li>
                                <li><a data-id="1" href="javascript:void(0)">天津</a></li>
                                <li><a data-id="1" href="javascript:void(0)">重庆</a></li>
                                <li><a data-id="1" href="javascript:void(0)">河北</a></li>
                                <li><a data-id="1" href="javascript:void(0)">山西</a></li>
                                <li><a data-id="1" href="javascript:void(0)" class="yhq-shengfen">河南</a></li>
                                <li><a data-id="1" href="javascript:void(0)">辽宁</a></li>
                                <li><a data-id="1" href="javascript:void(0)">吉林</a></li>
                                <li><a data-id="1" href="javascript:void(0)">黑龙江</a></li>
                                <li><a data-id="1" href="javascript:void(0)">内蒙古</a></li>
                                <li><a data-id="1" href="javascript:void(0)">江苏</a></li>
                                <li><a data-id="1" href="javascript:void(0)">山东</a></li>
                                <li><a data-id="1" href="javascript:void(0)">安徽</a></li>
                                <li><a data-id="1" href="javascript:void(0)">浙江</a></li>
                                <li><a data-id="1" href="javascript:void(0)">福建</a></li>
                                <li><a data-id="1" href="javascript:void(0)">湖北</a></li>
                                <li><a data-id="1" href="javascript:void(0)">湖南</a></li>
                                <li><a data-id="1" href="javascript:void(0)">广东</a></li>
                                <li><a data-id="1" href="javascript:void(0)">广西</a></li>
                                <li><a data-id="1" href="javascript:void(0)">江西</a></li>
                                <li><a data-id="1" href="javascript:void(0)">四川</a></li>
                                <li><a data-id="1" href="javascript:void(0)">海南</a></li>
                                <li><a data-id="1" href="javascript:void(0)">贵州</a></li>
                                <li><a data-id="1" href="javascript:void(0)">云南</a></li>
                                <li><a data-id="1" href="javascript:void(0)">西藏</a></li>
                                <li><a data-id="1" href="javascript:void(0)">陕西</a></li>
                                <li><a data-id="1" href="javascript:void(0)">甘肃</a></li>
                                <li><a data-id="1" href="javascript:void(0)">青海</a></li>
                                <li><a data-id="1" href="javascript:void(0)">宁夏</a></li>
                                <li><a data-id="1" href="javascript:void(0)">新疆</a></li>
                                <li><a data-id="1" href="javascript:void(0)">港澳</a></li>
                                <li><a data-id="1" href="javascript:void(0)">台湾</a></li>
                                <li><a data-id="1" href="javascript:void(0)">钓鱼岛</a></li>
                                <li><a data-id="1" href="javascript:void(0)">海外</a></li>
                            </ul>
                        </div>
                        <div class="diqu">
                            <p>地区专享版本</p>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">中國港澳</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">中國台灣</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">京东全球</a>
                                </li>
                            </ul>
                        </div>
                        <div class="waiguo">
                            <p>Available Sites</p>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Global Site</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Сайт России</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Situs Indonesia</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Sitio de España</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">เว็บไซต์ประเทศไทย</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="yhq-fr">
                <li class="fore3">
                    <div class="userinfo">
                    <a href="javascript:void(0)">{{_name_}}&nbsp;</a>
                    <span></span>
                    </div>
                    <div class="info_list">
                    <img src="../../img/touxiang_.jpg" alt="">
                    <div class="u-plus">
                        <span></span>
                        <p>开通PLUS 平均省1012元/年></p>
                    </div>
                    </div>
                </li>
                <li class="xian"></li>
                <li class="fore4">
                    <a href="javascript:void(0)">我的订单</a>
                </li>
                <li class="xian"></li>
                <li class="fore5">
                   <div class="fore-5-a">
                    <a href="javascript:void(0)">我的京东</a>
                    <i class="iconfont icon-xiajiantou"></i>
                   </div>
                    <div class="fore-5-none">
                        <div class="fore-5-none-top">
                            <ul>
                                <li><a href="javascript:void(0)">待处理订单</a></li>
                                <li><a href="javascript:void(0)">消息</a></li>
                                <li><a href="javascript:void(0)">返修退换货</a></li>
                                <li><a href="javascript:void(0)">我的问答</a></li>
                                <li><a href="javascript:void(0)">降价商品</a></li>
                                <li><a href="javascript:void(0)">我的关注</a></li>
                                
                            </ul>
                        </div>
                        <div class="fore-5-none-bottom">
                            <ul>
                                <li><a href="javascript:void(0)">我的京豆</a></li>
                                <li><a href="javascript:void(0)">我的优惠券</a></li>
                                <li><a href="javascript:void(0)">我的白条</a></li>
                                <li><a href="javascript:void(0)">我的理财</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="xian"></li>
                <li class="fore6">
                    <a href="javascript:void(0)">京东会员</a>
                </li>
                <li class="xian"></li>
                <li class="fore7">
                <div class="fore-7-a">
                <a href="javascript:void(0)">企业采购</a>
                    <i class="iconfont icon-xiajiantou"></i>
            </div>
            <div class="fore-7-none">
                <ul>
                    <li><a href="javascript:void(0)">企业购</a></li>
                    <li><a href="javascript:void(0)">商用场景馆</a></li>
                    <li><a href="javascript:void(0)">工业品</a></li>
                    <li><a href="javascript:void(0)">丰客多商城</a></li>
                    <li><a href="javascript:void(0)">礼品卡</a></li>
                    <li><a href="javascript:void(0)">微信企业购</a></li>
                </ul>
            </div>
                </li>
                <li class="xian"></li>
                <li class="fore8">
                   <div class="fore-8-a">
                    <a href="javascript:void(0)">客户服务</a>
                    <i class="iconfont icon-xiajiantou"></i>
                   </div>
                   <div class="fore-8-none">
                       <div class="fore-8-a-top">
                           <p class="kehu">客户</p>
                           <ul>
                               <li><a href="javascript:void(0)">帮助中心</a></li>
                               <li><a href="javascript:void(0)">售后服务</a></li>
                               <li><a href="javascript:void(0)">在线客服</a></li>
                               <li><a href="javascript:void(0)">意见建议</a></li>
                               <li><a href="javascript:void(0)">电话客服</a></li>
                               <li><a href="javascript:void(0)">客服邮箱</a></li>
                               <li><a href="javascript:void(0)">金融咨询</a></li>
                               <li><a href="javascript:void(0)">全球售客服</a></li>
                               <li><a href="javascript:void(0)">企业客服</a></li>
                           </ul>
                        
                       </div>
                       <div class="fore-8-a-bottom">
                           <p class="shanghu">商户</p>
                           <ul>
                               <li><a href="javascript:void(0)">合作招商</a></li>
                               <li><a href="javascript:void(0)">成长中心</a></li>
                               <li><a href="javascript:void(0)">商家后台</a></li>
                               <li><a href="javascript:void(0)">京麦工作台</a></li>
                               <li><a href="javascript:void(0)">商家帮助</a></li>
                               <li><a href="javascript:void(0)">规则平台</a></li>
                              
                           </ul>
                       </div>
                   </div>
                </li>
                <li class="xian"></li>
                <li class="fore9">
                   <div class="fore-9-a">
                    <a href="javascript:void(0)">网站导航</a>
                    <i class="iconfont icon-xiajiantou"></i>
                   </div>
                   <div class="fore-9-none">
                       <div class="fore-9-1">
                           <p>特色主题</p>
                           <ul>
                               <li><a href="javascript:void(0)">新品首发</a></li>
                               <li><a href="javascript:void(0)">京东金融</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金融</a></li>
                               <li><a href="javascript:void(0)">京东金</a></li>
                               <li><a href="javascript:void(0)">京东金融</a></li>
                               <li><a href="javascript:void(0)">优惠券</a></li>
                               <li><a href="javascript:void(0)">秒杀</a></li>
                               <li><a href="javascript:void(0)">闪购</a></li>
                               <li><a href="javascript:void(0)">印尼站</a></li>
                               <li><a href="javascript:void(0)">陪伴计划</a></li>
                               <li><a href="javascript:void(0)">出海招商</a></li>
                               <li><a href="javascript:void(0)">拍拍二手</a></li>
                               <li><a href="javascript:void(0)">买什么</a></li>
                          
                           </ul>
                       </div>
                       <div class="fore-9-2">
                           <p>行业频道</p>
                           <ul>
                               <li><a href="javascript:void(0)">手机</a></li>
                               <li><a href="javascript:void(0)">智能数码</a></li>
                               <li><a href="javascript:void(0)">玩3c</a></li>
                               <li><a href="javascript:void(0)">电脑办公</a></li>
                               <li><a href="javascript:void(0)">家用电器</a></li>
                               <li><a href="javascript:void(0)">鲸鱼座智能</a></li>
                               <li><a href="javascript:void(0)">京东服侍</a></li>
                               <li><a href="javascript:void(0)">京东生鲜</a></li>
                               <li><a href="javascript:void(0)">家装城</a></li>
                               <li><a href="javascript:void(0)">母婴</a></li>
                               <li><a href="javascript:void(0)">食品</a></li>
                               <li><a href="javascript:void(0)">农资频道</a></li>
                               <li><a href="javascript:void(0)">整车</a></li>
                               <li><a href="javascript:void(0)">图书</a></li>
                               <li><a href="javascript:void(0)">劳动防护</a></li>
                               
                           </ul>
                       </div>
                       <div class="fore-9-3">
                           <p>生活服务</p>
                           <ul>
                               <li><a href="javascript:void(0)">京东众筹</a></li>
                               <li><a href="javascript:void(0)">白条</a></li>
                               <li><a href="javascript:void(0)">京东金融APP</a></li>
                               <li><a href="javascript:void(0)">京东众筹</a></li>
                               <li><a href="javascript:void(0)">白条</a></li>
                               <li><a href="javascript:void(0)">京东金融APP</a></li>
                               <li><a href="javascript:void(0)">京东众筹</a></li>
                               <li><a href="javascript:void(0)">白条</a></li>
                               <li><a href="javascript:void(0)">京东金融APP</a></li>
                               <li><a href="javascript:void(0)">京东众筹</a></li>
                               <li><a href="javascript:void(0)">白条</a></li>
                               <li><a href="javascript:void(0)">京东金融APP</a></li>
                               <li><a href="javascript:void(0)">游戏</a></li>
                               <li><a href="javascript:void(0)">拍拍回收</a></li>
                               
                           </ul>
                       </div>
                       <div class="fore-9-4">
                           <p>更多精选</p>
                           <ul>
                               <li><a href="javascript:void(0)">合作招商</a></li>
                               <li><a href="javascript:void(0)">京东通信</a></li>
                               <li><a href="javascript:void(0)">京东E卡</a></li>
                               <li><a href="javascript:void(0)">合作招商</a></li>
                               <li><a href="javascript:void(0)">京东通信</a></li>
                               <li><a href="javascript:void(0)">京东E卡</a></li>
                               <li><a href="javascript:void(0)">合作招商</a></li>
                               <li><a href="javascript:void(0)">京东通信</a></li>
                               <li><a href="javascript:void(0)">京东E卡</a></li>
                               <li><a href="javascript:void(0)">知识产权维权</a></li>
                           </ul>
                       </div>
                   </div>
                </li>
                <li class="xian"></li>
                <li class="fore10">
                    <a href="javascript:void(0)">手机京东</a>
                </li>
            </ul>
        </div>
    </header>
</div>